.header-component {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100% !important;
    height: 10% !important;
}

.MuiAppBar-colorDefault {
    color: black;
}

.MuiToolBar-root {
    background: rgb(255, 196, 0)!important;
    background: linear-gradient(90deg, rgb(255, 187, 0) 0%, rgba(208, 219, 18, 1) 35%, rgba(255, 255, 255, 1) 100%)!important;
}

/*
.MuiAppBar-root {
    background: rgb(255, 222, 0)!important;
    background: linear-gradient(90deg, rgba(0,102,255,1) 0%, rgba(211,228,251,1) 100%, rgba(0,212,255,1) 100%)!important;
}
*/

.MuiPaper-elevation0{
    width: "100%";
    background: #1D1D1D!important;
}

.MuiTypography-body1{
    color:gainsboro;
}

.MuiTypography-h6{
    font-weight: bold;
    color:black;
}

.MuiTypography-h5{
    font-weight: bold;
    color:black;
}

.MuiTypography-h4{
    font-size: large !important;
    font-weight: bold !important;
    color:whitesmoke;
}


