body{
  padding-right: 0px !important; 
}

.react-chatbot-kit-chat-container {
  width: 100% !important;
}

.App {
  align-content: center;
  text-align: center;
  background-color: #282c34;
  min-height: 100hv;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}